@tailwind base;
@tailwind components;
@tailwind utilities;
/* # CSS */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.body {
  margin: 0;
}
body {
  margin: 0;
  /* background-color: #fafafa; */
  min-height: 100% !important;
}

.login-swiper .slick-next,
.login-swiper .slick-prev,
.signup-swiper .slick-next,
.signup-swiper .slick-prev {
  display: none !important;
}

.login-slide,
.signup-slide {
  height: 100vh !important;
  background-color: gray;
}

.upload-preview:first-child {
  margin-left: 0 !important;
}

.multiselect-editor ul.options {
  max-height: 20vh;
}
.login-swiper .slick-list,
.signup-swiper .slick-list {
  height: 100vh !important;
  overflow-y: clip !important;
}

.slick-dots {
  bottom: 4vh !important;
}
.slick-dots li button::before {
  font-size: 10px !important;
}
.slick-list {
  border-radius: 0 1.125rem 1.125rem 0 !important;
}

.transition-custom {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card-hover:hover {
  transition: background-color 0.5s ease-out;

  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 46%);
}
/* .slick-slide {
  flex: 1;
} */
.section {
  /* position: relative; */
  border-radius: 12px !important;
  border-color: transparent;
  /* scroll-padding-top: 10px; */
}

.section::-webkit-scrollbar {
  width: 5px;

  height: 90%;
}
.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  position: relative !important;
  right: 8px !important;
  border-radius: 18px;
}
.section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.view-input-scrollbar::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

.view-input-scrollbar::-webkit-scrollbar {
  width: 7px;
  /* margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 30%; */
}
.view-input-scrollbar::-webkit-scrollbar-track {
  /* background-color: #e4e4e4; */
  position: relative !important;
  right: 100px !important;
  border-radius: 18px;
}
.view-input-scrollbar::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 100px;
  margin-right: 20px;
}

img.conver {
  object-fit: cover;
  width: auto;
  height: 100%;
}
div[class^="slick"] {
  overflow-y: visible !important;
}
.landing-swiper .slick-list {
  overflow: visible !important;
  /* overflow-x: hidden !important; */
  /* overflow-y: visible !important; */
}
.landing-swiper .slick-track {
  overflow-y: visible;
  display: flex !important;
}
.landing-swiper .slick-slide {
  height: inherit !important;
}
.landing-swiper .slick-slide > div {
  height: 100% !important;
}
.fafafa {
  background-color: #fafafa !important;
}
.intent-page {
  background-color: #7696f2 !important;
}
::placeholder {
  color: #848484 !important;
}

.landing-swiper .slick-dots {
  bottom: 4vh !important;
}
.landing-swiper .slick-dots li button::before {
  font-size: 10px !important;
}
.landing-swiper .slick-list {
  border-radius: 0 1.125rem 1.125rem 0 !important;
}
.text-special {
  overflow: hidden;
  text-align: center;
}

.text-special:before,
.text-special:after {
  background-color: #848484;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text-special:before {
  right: 0.5em;
  margin-left: -50%;
}

.text-special:after {
  left: 0.5em;
  margin-right: -50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prompt span {
  color: #848484 !important;
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1rem;
}
.view span {
  font-weight: 400 !important;
}
.field {
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.1);
}

.view-dropzone::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.view-dropzone::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.view-dropzone::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d9d9d9;
}

/* Handle on hover */
.view-dropzone::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: black;
}
